@font-face {
    font-family: 'MovieLetters';
    src: url('movlette-webfont.woff2') format('woff2'),
         url('movlette-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

div#body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Niconne', cursive;
    /*font-family: 'Tangerine', cursive;*/
    margin: 0;
    border: none;
    padding: 0;
    background-color: #FFFFEF;
    color: #00004C;
}

.logo-a img {
    width: 320px;
    padding: 20px 0;
    display: block;
    margin: 0 auto;
    z-index: 10;
}

#sidenav {
    background-color: #FFFFEF;
    z-index: 4;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

#sidenav ul {
    margin-top: 90px;
    padding-left: 0;
}

#sidenav li {
    display: block;
    padding: 10px;
    width: 100%;
}

#sidenav a {
    color: #B8F1F2;
    font-size: 18px;
    margin: 0 30%;
}

#sidenav li:hover {  
    background-color: #dbdbd1;
}

#sidenav a:hover {
    text-decoration: none;
}

.hamburger {
    width: 40px;
    height: 40px;
    z-index: 6;
    position: absolute;
    display: none;
    top: 15px;
    right: 10px;
}

.line {
    height: 4px;
    width: 75%;
    background-color: #FFFFEF;
    border-radius: 5px;
    position: absolute;
    left: 8px;
    transition: all ease 0.3s;
}

.line1 {
    top: 20%;
}

.line2 {
    top: 48%;
}

.line3 {
    top: 75%;
}

.cancel {
    position: fixed;
}

.cancel .line {
    background-color: #B8F1F2;
}

.cancel .line1 {
    transform: rotate(45deg);
    top: 50%;
    
}

.cancel .line2, .cancel .line3 {
    transform: rotate(135deg);
    top: 50%;
}

.d-block {
    height: 550px;
    width: 100%;
}

.banner {
    background-color: #B8F1F2;
    background-color: #F5B5B5;
    font-size: 1.5em;
    padding: 25px 0;
    width: 100%;
}

.banner ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    display: inherit;
}

.banner ul li.site-links {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

li.site-links a:hover {
    color: #B8F1F2;
    text-decoration: none;
}

.banner ul li a {
    color: #FFFFEF;
}

.banner {
    background-color: #B8F1F2;
    background-color: #F5B5B5;
    font-size: 1.5em;
    padding: 25px 0;
    width: 100%;
}

.banner ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    display: inherit;
}

.banner ul li.site-links {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

li.site-links a:hover {
    color: #B8F1F2;
    text-decoration: none;
}

.banner ul li a {
    color: #FFFFEF;
}

#footer {
    background-color: #F5B5B5;
    /*background-color: #D4D5D6;*/
    padding: 30px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #FFFFEF;
    margin-top: 30px;
}

#footer .banner {
    padding: 10px 0;
}


.icons ul {
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
    width: 100%;
}

.icons li {
    display: inline;
    text-align: center;
    /*padding: 0 40px;*/
}

.icons .row i {
    font-size: 40px;
    color: #FFFFEF;
}

.icons i:hover {
    color: #00004C;
    color: #B8F1F2;
}

.contact-info-complete {
    text-align: right;
}

.contact-info-complete ul {
    list-style: none;
}

.contact-info-complete a {
    color: #FFFFEF;
}

.boring-stuff {
    background-color: #B8F1F2;
    color: #00004c;
    padding: 15px 0;
    border-top: solid 2px #FFFFEF;
    font-size: 16px;
}

.contact-info {
    padding-top: 20px;
}

#call-button a {
    font-family: 'Cabin', sans-serif;
}

@media screen and (max-width: 991px) {
    .icons {
        padding-bottom: 35px;
    }

    .contact-info-complete {
        text-align: center;
    }
    
    .contact-info-complete ul {
        margin: 0;
    }

    #contact-info-sweetie {
        display: none;
    }

}

@media screen and (max-width: 550px) {
    .logo-a img {
        width: 200px;
    }

    .container {
        padding: 0;
    }

    .banner {
        padding: 10px 0;
    }

    .banner .row a {
        font-size: 18px;
    }

    .carousel-item {
        height: 230px
    }

    #footer .icons {
        padding: 0;
    }

    .icons ul {
        padding: 0 20px;
    }

    .icons .row i {
        width: 32%;
    }

    .contact-info {
        padding: 0;
    }

    .contact-info-complete ul {
        padding: 0;
    }

    #footer .contact-info-complete li {
        font-size: 16px;
        margin: 40px 0;
    }

    #footer .contact-info-complete li#call-button {
        background-color: #FFFFEF;
        box-shadow: 4px 4px 4px black;
        width: 100%;
        font-size: 30px;
        padding: 20px 0;
    }

    #call-button a {
        color: #F5B5B5;
    }


}