.quote-title {
    padding: 30px 0;
    font-size: 34px;
    text-align: center;
}

.quote-subtitle {
    font-size: 22px;
    padding-bottom: 20px;
}

.short-input {
    width: 100%;
    border: none;
    border-bottom: solid 1px #ccc;
    background-color: #FFFFEF;
    margin: 20px 0;
}

.btn-sweetie {
    background-color: #B8F1F2;
    color: #00004C;
    box-shadow: 2px 2px 2px black;
    font-weight: 700;
}